# 10 Minutes to Pandas - Complete Interactive Study Guide

## Introduction to Pandas

**Explanation:**
Pandas is a Python library that makes working with data easy and intuitive. Think of it as Excel on steroids - it's designed specifically for data analysis, manipulation, and cleaning. The name "pandas" stands for "Python Data Analysis Library."

Let's start with the standard imports:

In [ ]:
import pandas as pd
import numpy as np  # NumPy is used alongside pandas for numerical operations

print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

---

## SECTION 1: Basic Data Structures in Pandas

### 1.1 Series

**Explanation:**
A Series is like a column in a spreadsheet or a list with labels. It's a 1-dimensional array that holds data of ANY type (integers, strings, floats, etc.). Each element has an associated label called an "index."

**Simple Analogy:**
- Series = A single column in Excel with row labels

In [ ]:
# Create a Series with default index (0, 1, 2, ...)
s = pd.Series([1, 3, 5, np.nan, 6, 8])
# This creates a Series with 6 values
# np.nan is "Not a Number" - represents missing data
# Index defaults to: 0, 1, 2, 3, 4, 5
# dtype: float64 (because NaN forces float type)

print("Series with default index:")
print(s)
print(f"\nData type: {s.dtype}")

In [ ]:
# Mini-Example: Create a Series with custom index (labels)
student_grades = pd.Series(
    [95, 87, 92, 88],  # The values (data)
    index=['Alice', 'Bob', 'Charlie', 'Diana']  # Custom labels for each value
)

print("Series with custom index (student names):")
print(student_grades)

# Access specific values by index
print(f"\nAlice's grade: {student_grades['Alice']}")
print(f"Bob's grade: {student_grades['Bob']}")

**Study Notes:**
- Series = 1D labeled array
- Default index: 0, 1, 2, ... (auto-generated)
- Can have custom index labels
- Supports missing data (NaN)
- dtype shows the data type (int64, float64, object, etc.)

**Quick Tips:**
- Use `len(series)` to get number of elements
- Use `series.index` to see all index labels
- Use `series.values` to get just the data without labels
- Remember: One dimension = Series; Two dimensions = DataFrame

### 1.2 DataFrame

**Explanation:**
A DataFrame is like a spreadsheet or a table with rows AND columns. It's a 2-dimensional data structure where each column can have a different data type. Think of it as multiple Series stacked side by side.

**Simple Analogy:**
- DataFrame = An entire Excel spreadsheet with multiple columns

In [ ]:
# Create a DataFrame from a dictionary (most intuitive for beginners)
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],  # Column 1: names
    'Age': [25, 30, 35],  # Column 2: ages
    'City': ['NYC', 'LA', 'Chicago']  # Column 3: cities
})

print("DataFrame from Dictionary:")
print(df)
print(f"\nShape: {df.shape} (rows, columns)")
print(f"Data types:\n{df.dtypes}")

In [ ]:
# Create a DataFrame with random numbers and date index
# 6 consecutive dates starting from Jan 1, 2013
dates = pd.date_range("20130101", periods=6)

df_random = pd.DataFrame(
    np.random.randn(6, 4),  # 6 rows, 4 columns of random numbers
    index=dates,  # Row labels = dates
    columns=list("ABCD")  # Column labels = A, B, C, D
)

print("\nDataFrame with Date Index and Random Values:")
print(df_random)

**Study Notes:**
- DataFrame = 2D table (rows Ã— columns)
- Can mix different data types in different columns
- Rows have index labels; columns have names
- Best way to work with real datasets
- Can be created from: dictionaries, lists, NumPy arrays, other DataFrames

**Quick Tips:**
- Use `df.shape` to see (rows, columns) dimensions
- Use `df.dtypes` to see data type of each column
- Use `df.info()` for a quick overview of the DataFrame
- Use `df.head()` to preview the first few rows

---

## SECTION 2: Viewing Data

### 2.1 Preview Data

In [ ]:
# Create a sample DataFrame with 10 rows
sample_df = pd.DataFrame({
    'Product': ['Apple', 'Banana', 'Orange', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Blueberry', 'Strawberry', 'Watermelon'],
    'Price': [0.50, 0.30, 0.40, 0.80, 0.60, 0.55, 1.00, 2.00, 1.50, 0.20],
    'Stock': [100, 150, 200, 75, 120, 95, 60, 40, 85, 30]
})

print("Full DataFrame:")
print(sample_df)
print(f"\nShape: {sample_df.shape}")

In [ ]:
# See the first 5 rows (default)
print("First 5 rows:")
print(sample_df.head())

print("\n" + "="*50)

# See the first 3 rows
print("\nFirst 3 rows:")
print(sample_df.head(3))

In [ ]:
# See the last 5 rows
print("Last 5 rows:")
print(sample_df.tail())

print("\n" + "="*50)

# See the last 3 rows
print("\nLast 3 rows:")
print(sample_df.tail(3))

### 2.2 DataFrame Metadata

In [ ]:
# Get basic information about the DataFrame
print("Index (row labels):")
print(sample_df.index)

print("\n" + "="*50)

print("\nColumn names:")
print(sample_df.columns)

print("\n" + "="*50)

print("\nShape (rows, columns):")
print(sample_df.shape)

In [ ]:
# Data types of each column
print("Data types:")
print(sample_df.dtypes)

print("\n" + "="*50)

# Comprehensive info
print("\nDataFrame Info:")
sample_df.info()

In [ ]:
# Statistical summary
print("Statistical Summary:")
print(sample_df.describe())

print("\n" + "="*50)

# Convert to NumPy array (without labels)
print("\nAs NumPy array (raw values only):")
print(sample_df.to_numpy())

---

## SECTION 3: Sorting Data

In [ ]:
# Create a sample DataFrame for sorting examples
grades_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Math': [95, 88, 92, 87, 90],
    'English': [85, 90, 88, 92, 89],
    'Science': [92, 85, 95, 88, 91]
}, index=['S001', 'S002', 'S003', 'S004', 'S005'])

print("Original DataFrame:")
print(grades_df)

In [ ]:
# Sort by Math score (ascending - lowest first)
print("Sorted by Math Score (Ascending):")
print(grades_df.sort_values(by='Math'))

print("\n" + "="*50)

# Sort by Math score (descending - highest first)
print("\nSorted by Math Score (Descending - Highest First):")
print(grades_df.sort_values(by='Math', ascending=False))

In [ ]:
# Sort by multiple columns
print("Sorted by Math (ascending), then English (descending):")
print(grades_df.sort_values(by=['Math', 'English'], ascending=[True, False]))

print("\n" + "="*50)

# Sort by index
print("\nSorted by Index:")
print(grades_df.sort_index())

---

## SECTION 4: Selecting Data (Indexing)

### 4.1 Column Selection

In [ ]:
# Using the sample_df from earlier
print("Original DataFrame:")
print(sample_df)

In [ ]:
# SELECT ONE COLUMN - Returns a Series
prices = sample_df['Price']
print("Single Column (Series):")
print(prices)
print(f"\nType: {type(prices)}")

In [ ]:
# SELECT MULTIPLE COLUMNS - Returns a DataFrame
subset = sample_df[['Product', 'Price']]  # Note: DOUBLE brackets!
print("Multiple Columns (DataFrame):")
print(subset)
print(f"\nType: {type(subset)}")

In [ ]:
# Reorder columns
reordered = sample_df[['Stock', 'Price', 'Product']]
print("Reordered Columns:")
print(reordered)

### 4.2 Selection by Label (.loc[])

In [ ]:
# Create a DataFrame with custom index
employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000],
    'Department': ['Sales', 'IT', 'HR']
}, index=['E001', 'E002', 'E003'])

print("Employee DataFrame:")
print(employees)

In [ ]:
# Select one row by label
print("Get row with label 'E002':")
print(employees.loc['E002'])
print(f"\nType: {type(employees.loc['E002'])}")

In [ ]:
# Select specific columns for all rows
print("All employees, but only Name and Salary:")
print(employees.loc[:, ['Name', 'Salary']])

In [ ]:
# Select a single value (scalar)
alice_salary = employees.loc['E001', 'Salary']
print(f"Alice's salary: ${alice_salary:,}")
print(f"Type: {type(alice_salary)}")

### 4.3 Selection by Position (.iloc[])

In [ ]:
# Select by position (0-based)
print("Row at position 1 (second row):")
print(employees.iloc[1])

print("\n" + "="*50)

# Select range of rows by position
print("\nRows at positions 0-1 (first 2 rows):")
print(employees.iloc[0:2])

In [ ]:
# Select rows and columns by position
print("Rows 0-1, Columns 0-1 (Name and Age for first 2 employees):")
print(employees.iloc[0:2, 0:2])

In [ ]:
# Select specific rows and columns
print("Rows 0 and 2, Columns 0 and 2 (Name and Salary for employees 1 and 3):")
print(employees.iloc[[0, 2], [0, 2]])

### 4.4 Boolean Indexing (Filtering)

In [ ]:
# Filter: Get employees with salary > 55000
print("Employees with salary > $55,000:")
filtered = employees[employees['Salary'] > 55000]
print(filtered)

In [ ]:
# Multiple conditions: Age >= 30 AND Salary >= 60000
print("Employees age >= 30 AND salary >= $60,000:")
condition = (employees['Age'] >= 30) & (employees['Salary'] >= 60000)
print(employees[condition])

In [ ]:
# OR condition: Age < 30 OR Department == 'IT'
print("Employees age < 30 OR in IT department:")
condition = (employees['Age'] < 30) | (employees['Department'] == 'IT')
print(employees[condition])

In [ ]:
# Use isin() for multiple values
print("Employees in Sales or HR department:")
departments = ['Sales', 'HR']
print(employees[employees['Department'].isin(departments)])

---

## SECTION 5: Modifying Data

In [ ]:
# Start with a copy to avoid modifying original
df_modify = employees.copy()
print("Original DataFrame:")
print(df_modify)

In [ ]:
# Add a new column
df_modify['Bonus'] = [5000, 6000, 7000]
print("\nAfter adding Bonus column:")
print(df_modify)

In [ ]:
# Set a single value
df_modify.at['E001', 'Bonus'] = 8000
print("\nAfter updating Alice's bonus:")
print(df_modify)

In [ ]:
# Add calculated column
df_modify['Total_Comp'] = df_modify['Salary'] + df_modify['Bonus']
print("\nAfter adding Total Compensation column:")
print(df_modify)

In [ ]:
# Conditional assignment
df_modify['Bonus_Status'] = df_modify['Bonus'].apply(
    lambda x: 'High' if x >= 7000 else 'Standard'
)
print("\nAfter adding Bonus Status:")
print(df_modify)

---

## SECTION 6: Handling Missing Data

In [ ]:
# Create DataFrame with missing values
incomplete_df = pd.DataFrame({
    'Date': pd.date_range('2024-01-01', periods=5),
    'Temperature': [20, np.nan, 22, 21, np.nan],
    'Humidity': [65, 70, np.nan, 72, 73]
})

print("DataFrame with missing values:")
print(incomplete_df)

In [ ]:
# Check for missing values
print("Boolean mask of missing values:")
print(pd.isna(incomplete_df))

print("\n" + "="*50)

# Count missing per column
print("\nCount of missing values per column:")
print(incomplete_df.isnull().sum())

In [ ]:
# Drop rows with ANY missing value
print("After dropna():")
print(incomplete_df.dropna())

print("\n" + "="*50)

# Drop rows only if all values are missing
print("\nAfter dropna(how='all'):")
print(incomplete_df.dropna(how='all'))

In [ ]:
# Fill missing with constant value
print("Fill missing with 0:")
print(incomplete_df.fillna(0))

print("\n" + "="*50)

# Fill with forward fill (use previous value)
print("\nFill with forward fill (previous value):")
print(incomplete_df.fillna(method='ffill'))

In [ ]:
# Fill different columns with different values
print("Fill with specific values per column:")
filled = incomplete_df.fillna({
    'Temperature': incomplete_df['Temperature'].mean(),  # Use mean
    'Humidity': 70  # Use constant
})
print(filled)

---

## SECTION 7: Statistical Operations

In [ ]:
# Create sample data
sales_data = pd.DataFrame({
    'Q1': [100, 150, 200, 120],
    'Q2': [110, 160, 210, 130],
    'Q3': [120, 170, 220, 140],
    'Q4': [130, 180, 230, 150]
}, index=['Product_A', 'Product_B', 'Product_C', 'Product_D'])

print("Sales Data:")
print(sales_data)

In [ ]:
# Mean per column (average sales per quarter)
print("Average sales per quarter (column-wise):")
print(sales_data.mean())

print("\n" + "="*50)

# Mean per row (average sales per product)
print("\nAverage sales per product (row-wise):")
print(sales_data.mean(axis=1))

In [ ]:
# Various statistics
print("Sum per column:")
print(sales_data.sum())

print("\n" + "="*50)

print("\nMinimum per column:")
print(sales_data.min())

print("\n" + "="*50)

print("\nMaximum per column:")
print(sales_data.max())

In [ ]:
# Comprehensive statistics
print("Statistical Summary:")
print(sales_data.describe())

In [ ]:
# Apply custom function
print("\nMultiply all values by 1.1 (10% increase):")
scaled = sales_data.transform(lambda x: x * 1.1)
print(scaled)

---

## SECTION 8: Grouping Data

In [ ]:
# Create sample sales data
sales = pd.DataFrame({
    'Region': ['North', 'North', 'North', 'South', 'South', 'South', 'East', 'East', 'East'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'C'],
    'Amount': [100, 150, 200, 120, 180, 160, 140, 170, 190]
})

print("Sales Data:")
print(sales)

In [ ]:
# Group by Region and sum
print("\nTotal sales by Region:")
region_totals = sales.groupby('Region')['Amount'].sum()
print(region_totals)

print("\n" + "="*50)

# Group by Product and sum
print("\nTotal sales by Product:")
product_totals = sales.groupby('Product')['Amount'].sum()
print(product_totals)

In [ ]:
# Group by multiple columns
print("\nSales by Region and Product:")
grouped = sales.groupby(['Region', 'Product'])['Amount'].sum()
print(grouped)

In [ ]:
# Multiple aggregation functions
print("\nAverage and count by Region:")
stats = sales.groupby('Region')['Amount'].agg(['sum', 'mean', 'count'])
print(stats)

---

## SECTION 9: Combining DataFrames

In [ ]:
# Concatenation Example
q1_sales = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    'Sales': [100, 150, 200],
    'Quarter': ['Q1', 'Q1', 'Q1']
})

q2_sales = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    'Sales': [110, 160, 210],
    'Quarter': ['Q2', 'Q2', 'Q2']
})

print("Q1 Sales:")
print(q1_sales)

print("\nQ2 Sales:")
print(q2_sales)

In [ ]:
# Concatenate (stack vertically)
print("\nCombined (stacked):")
combined = pd.concat([q1_sales, q2_sales], ignore_index=True)
print(combined)

In [ ]:
# Merging Example
customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana']
})

orders = pd.DataFrame({
    'OrderID': [101, 102, 103],
    'CustomerID': [1, 2, 1],
    'Amount': [50, 100, 75]
})

print("\nCustomers:")
print(customers)

print("\nOrders:")
print(orders)

In [ ]:
# Merge (join on common column)
print("\nMerged (Customers with Orders):")
merged = pd.merge(customers, orders, on='CustomerID', how='left')
print(merged)

---

## SECTION 10: Value Counts

In [ ]:
# Create sample data
survey_responses = pd.Series([
    'Yes', 'No', 'Yes', 'Maybe', 'Yes', 'No', 'No', 'Yes', 'Maybe', 'Yes'
])

print("Survey Responses:")
print(survey_responses.values)

print("\n" + "="*50)

# Count occurrences
print("\nValue counts:")
counts = survey_responses.value_counts()
print(counts)

In [ ]:
# Get proportions
print("\nAs proportions (percentages):")
proportions = survey_responses.value_counts(normalize=True)
print(proportions)

print("\n" + "="*50)

# As percentages
print("\nAs percentages:")
percentages = survey_responses.value_counts(normalize=True) * 100
print(percentages.round(1))

---

## SECTION 11: String Operations

In [ ]:
# Create Series with text data
emails = pd.Series([
    'alice@example.com',
    'bob@test.com',
    'charlie@example.com',
    'diana@test.com'
])

print("Original emails:")
print(emails.values)

In [ ]:
# String operations
print("\nLowercase:")
print(emails.str.lower())

print("\n" + "="*50)

print("\nUppercase:")
print(emails.str.upper())

In [ ]:
# Length of each string
print("Length of each email:")
print(emails.str.len())

print("\n" + "="*50)

# Check if contains substring
print("\nContains 'example':")
print(emails.str.contains('example'))

In [ ]:
# Extract domain
print("\nExtract domain (after @):")
domain = emails.str.split('@').str[1]
print(domain)

print("\n" + "="*50)

# Replace substring
print("\nReplace '.com' with '.org':")
replaced = emails.str.replace('.com', '.org')
print(replaced)

---

## SECTION 12: Time Series

In [ ]:
# Create time series data
dates = pd.date_range('2024-01-01', periods=30, freq='D')
temperatures = pd.Series(
    [15 + i*0.5 for i in range(30)],
    index=dates
)

print("Daily temperatures for 30 days:")
print(temperatures.head(10))
print("...")
print(temperatures.tail(5))

In [ ]:
# Resample to weekly average
print("\nWeekly average temperature:")
weekly = temperatures.resample('W').mean()
print(weekly)

print("\n" + "="*50)

# Resample to every 5 days
print("\nEvery 5 days (max temperature):")
every_5d = temperatures.resample('5D').max()
print(every_5d)

---

## SECTION 13: Pivot Tables

In [ ]:
# Create detailed sales data
sales_detail = pd.DataFrame({
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar'] * 2,
    'Region': ['North'] * 6 + ['South'] * 6,
    'Product': ['A', 'B'] * 6,
    'Amount': [100, 150, 120, 180, 110, 200, 130, 160, 140, 190, 125, 210]
})

print("Detailed Sales Data:")
print(sales_detail)

In [ ]:
# Create pivot table: Regions as columns, Months as rows
print("\nPivot Table (Months vs Regions):")
pivot = pd.pivot_table(
    sales_detail,
    values='Amount',
    index='Month',
    columns='Region',
    aggfunc='sum'
)
print(pivot)

In [ ]:
# Create pivot table with multiple values
print("\nPivot Table (Multiple aggregations):")
pivot_multi = pd.pivot_table(
    sales_detail,
    values='Amount',
    index=['Month', 'Region'],
    columns='Product',
    aggfunc='sum',
    fill_value=0
)
print(pivot_multi)

---

## SECTION 14: Import/Export Data

In [ ]:
# Create sample DataFrame to export
export_data = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Q1_Sales': [100, 150, 200, 120, 180],
    'Q2_Sales': [110, 160, 210, 130, 190],
    'Q3_Sales': [120, 170, 220, 140, 200]
})

print("Sample DataFrame for export:")
print(export_data)

In [ ]:
# Save to CSV
export_data.to_csv('sample_data.csv', index=False)
print("âœ“ Saved to sample_data.csv")

# Read it back
loaded_csv = pd.read_csv('sample_data.csv')
print("\nLoaded from CSV:")
print(loaded_csv)

In [ ]:
# Save to Excel
export_data.to_excel('sample_data.xlsx', sheet_name='Sales', index=False)
print("âœ“ Saved to sample_data.xlsx")

# Read it back
loaded_excel = pd.read_excel('sample_data.xlsx', sheet_name='Sales')
print("\nLoaded from Excel:")
print(loaded_excel)

In [ ]:
# Save to Parquet (efficient binary format)
export_data.to_parquet('sample_data.parquet')
print("âœ“ Saved to sample_data.parquet")

# Read it back
loaded_parquet = pd.read_parquet('sample_data.parquet')
print("\nLoaded from Parquet:")
print(loaded_parquet)

---

## SECTION 15: Common Pitfalls to Avoid

In [ ]:
# PITFALL 1: Using = instead of == in conditions
df_test = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})

# WRONG: df_test[df_test['A'] = 3]  # SyntaxError!
# CORRECT:
print("Pitfall 1 - Correct way to filter:")
print(df_test[df_test['A'] == 3])

In [ ]:
# PITFALL 2: Forgetting parentheses with multiple conditions
# WRONG: df_test[df_test['A'] > 2 & df_test['B'] < 40]  # Error!
# CORRECT:
print("\nPitfall 2 - Multiple conditions:")
result = df_test[(df_test['A'] > 2) & (df_test['B'] < 40)]
print(result)

In [ ]:
# PITFALL 3: Using 'and'/'or' instead of '&'/'|'
# WRONG: df_test[df_test['A'] > 2 and df_test['B'] < 40]  # Error!
# CORRECT: (shown above with &)

print("Pitfall 3 - Boolean Series behavior:")
boolean_series = df_test['A'] > 2

# WRONG: if boolean_series: print("Won't work")  # Error!
# CORRECT:
if boolean_series.any():
    print(f"At least one value > 2: {boolean_series.any()}")

if boolean_series.all():
    print("All values > 2")
else:
    print(f"Not all values > 2: {boolean_series.all()}")

In [ ]:
# PITFALL 4: Modifying copies
# WRONG way (may cause SettingWithCopyWarning):
# df_copy = df_test[df_test['A'] > 2]
# df_copy['C'] = 100  # Warning!

# CORRECT ways:
print("\nPitfall 4 - Safe modifications:")

# Method 1: Use .copy()
df_copy = df_test[df_test['A'] > 2].copy()
df_copy['C'] = 100  # No warning!
print(df_copy)

print("\n" + "="*50)

# Method 2: Use .loc[] for assignments
df_test.loc[df_test['A'] > 2, 'C'] = 100  # Safe!
print(df_test)

---

## SUMMARY: Quick Reference

### Essential Methods by Task

| Task | Method |
|------|--------|
| Get one value | `.at[row, col]` |
| Get one row | `.loc[row_label]` or `.iloc[position]` |
| Get one column | `df['column']` |
| Filter rows | `df[condition]` (boolean indexing) |
| Sort data | `.sort_values(by=)` or `.sort_index()` |
| Group and summarize | `.groupby().agg()` |
| Handle missing data | `.fillna()` or `.dropna()` |
| Change data shape | `.stack()`, `.unstack()`, `.pivot_table()` |
| Combine DataFrames | `pd.concat()` or `pd.merge()` |

### Best Practices

1. **Always inspect first**: Use `.head()`, `.info()`, `.dtypes`
2. **Check for missing data**: Use `.isnull().sum()`
3. **Use .copy()**: When filtering, add `.copy()` to avoid warnings
4. **Be explicit**: Use `.loc[]` and `.at[]` for modifications
5. **Verify results**: Use `.shape`, `.dtypes` after each transformation
6. **Use meaningful labels**: Named columns and indices make code readable
7. **Test with small data**: Verify logic before applying to full dataset
8. **Remember**: Pandas operations usually return new objects (don't modify in-place)

---

## Practice Exercises

Now that you've learned the basics, try these exercises:

1. Create a DataFrame with 5 students' exam scores (Math, English, Science)
2. Calculate average score per student
3. Find students with average score > 80
4. Sort by average score (highest first)
5. Add a new column with grade (A=90+, B=80-89, C=70-79, etc.)

Try implementing these in the cells below!

In [ ]:
# Exercise: Create student scores DataFrame
students_scores = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Math': [95, 88, 92, 87, 90],
    'English': [85, 90, 88, 92, 89],
    'Science': [92, 85, 95, 88, 91]
})

print("Student Scores:")
print(students_scores)

In [ ]:
# Calculate average score per student
students_scores['Average'] = students_scores[[
    'Math', 'English', 'Science']].mean(axis=1)

print("\nWith Average Score:")
print(students_scores)

In [ ]:
# Find students with average > 80
above_80 = students_scores[students_scores['Average'] > 80]

print("\nStudents with Average > 80:")
print(above_80)

In [ ]:
# Sort by average (highest first)
sorted_students = students_scores.sort_values('Average', ascending=False)

print("\nSorted by Average (Highest First):")
print(sorted_students)

In [ ]:
# Add grade column
def assign_grade(avg):
    if avg >= 90:
        return 'A'
    elif avg >= 80:
        return 'B'
    elif avg >= 70:
        return 'C'
    else:
        return 'F'


students_scores['Grade'] = students_scores['Average'].apply(assign_grade)

print("\nFinal Results with Grades:")
print(students_scores.sort_values('Average', ascending=False))

---

## Congratulations! ğŸ‰

You've completed the interactive Pandas study guide! You now understand:

âœ… Basic data structures (Series and DataFrames)
âœ… How to view and inspect data
âœ… Selection and filtering techniques
âœ… Data modification and transformation
âœ… Handling missing values
âœ… Statistical operations
âœ… Grouping and aggregation
âœ… Combining multiple DataFrames
âœ… Working with time series
âœ… Importing and exporting data
âœ… Common pitfalls and how to avoid them

**Next Steps:**
- Practice with real datasets
- Explore the official Pandas documentation
- Work on more complex data analysis projects
- Learn visualization with Matplotlib and Seaborn

Happy data wrangling! ğŸ¼ğŸ“Š