# ðŸŽ“ Pandas Interactive Learning Guide with Tasks & Challenges

> **Learn by Doing!** Each section has hands-on tasks and challenges. Try solving them before checking hints!

---

In [ ]:
import pandas as pd
import numpy as np

print(f"âœ“ Pandas version: {pd.__version__}")
print(f"âœ“ NumPy version: {np.__version__}")

---

## SECTION 1: Series & DataFrames

### Quick Review

In [ ]:
# Create a Series (1D)
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series Example:")
print(s)
print(f"Type: {type(s)}\n")

# Create a DataFrame (2D)
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['NYC', 'LA', 'Chicago']
})
print("DataFrame Example:")
print(df)

### âœ… TASK 1.1: Create Temperature Series

**Challenge:** Create a Series with monthly temperatures

**Requirements:**
- Values: [72, 75, 78, 82, 88, 90, 89, 87, 85, 78, 75, 72]
- Index: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

**Questions to Answer:**
1. What's the average temperature?
2. What's the highest temperature and which month?
3. Which month has the lowest temperature?
4. Get temperature for July
5. Get all months with temperature > 85

In [ ]:
# Write your code here:

### âœ… TASK 1.2: Create Bookstore DataFrame

**Challenge:** Create a DataFrame for a bookstore

**Data:**
- Titles: ['Python 101', 'Data Science Handbook', 'Web Development', 'ML Guide']
- Authors: ['John Smith', 'Jane Doe', 'Bob Johnson', 'Alice Brown']
- Prices: [29.99, 49.99, 39.99, 59.99]
- Stock: [15, 8, 20, 12]

**Then answer:**
1. What's the shape?
2. Which book is the most expensive?
3. Total inventory value (price Ã— stock) for each book
4. Average price of all books
5. Books with stock < 10

In [ ]:
# Write your code here:

---

## SECTION 2: Viewing & Exploring Data

### Quick Review

In [ ]:
# Create sample data
sample = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Price': [10, 20, 30, 40, 50, 60],
    'Sold': [100, 85, 92, 110, 78, 95]
})

print("First 3 rows:")
print(sample.head(3))
print("\nShape:", sample.shape)
print("\nData types:")
print(sample.dtypes)

### âœ… TASK 2.1: Inspect Employee Data

**Challenge:** Create and explore employee data

**Create DataFrame with:**
- Names: ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank']
- Department: ['Sales', 'IT', 'HR', 'Sales', 'IT', 'Finance']
- Salary: [50000, 70000, 55000, 52000, 75000, 60000]
- Years: [5, 8, 3, 6, 10, 4]

**Explore:**
1. Get basic info (.info())
2. Get statistical summary (.describe())
3. Get last 2 employees
4. Get all columns except Department
5. Get salaries only
6. Find average salary per department

In [ ]:
# Write your code here:

---

## SECTION 3: Sorting & Filtering

### Quick Review

In [ ]:
# Sort examples
sample_sort = pd.DataFrame({
    'Name': ['Charlie', 'Alice', 'Bob'],
    'Score': [85, 95, 88]
})

print("Sorted by Score (descending):")
print(sample_sort.sort_values('Score', ascending=False))

# Filter example
print("\nScores > 86:")
print(sample_sort[sample_sort['Score'] > 86])

### âœ… TASK 3.1: Analyze Sales Performance

**Challenge:** Sort and filter sales data

**Create Sales DataFrame:**
```python
sales = pd.DataFrame({
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Q1': [50000, 62000, 45000, 58000, 72000],
    'Q2': [55000, 58000, 52000, 61000, 75000],
    'Q3': [58000, 65000, 48000, 60000, 78000]
})
```

**Tasks:**
1. Calculate total sales per person (add 'Total' column)
2. Sort by Total sales (highest first)
3. Find top 2 performers
4. Find people with Q1 > 50000
5. Sort by Q2 ascending (lowest first)

In [ ]:
# Write your code here:

---

## SECTION 4: Data Selection (loc & iloc)

### Quick Review

In [ ]:
# Create data with custom index
df_indexed = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}, index=['E001', 'E002', 'E003'])

print("DataFrame:")
print(df_indexed)

print("\nUsing .loc[]:")
print(df_indexed.loc['E002'])  # By label

print("\nUsing .iloc[]:")
print(df_indexed.iloc[1])  # By position

### âœ… TASK 4.1: Master Selection

**Challenge:** Use .loc[], .iloc[], and boolean indexing

**Create DataFrame:**
```python
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 28, 35],
    'Score': [95, 88, 92, 87]
}, index=['E001', 'E002', 'E003', 'E004'])
```

**Select:**
1. Get row 'E002' using .loc[]
2. Get row at position 2 using .iloc[]
3. Get columns 'Name' and 'Score' for all rows
4. Get Alice's score (.at[])
5. Filter: Age >= 28
6. Filter: Score > 90 AND Age < 30 (AND condition)

In [ ]:
# Write your code here:

---

## SECTION 5: Modifying Data

### Quick Review

In [ ]:
df_mod = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("Original:")
print(df_mod)

# Add column
df_mod['C'] = df_mod['A'] + df_mod['B']
print("\nAfter adding C:")
print(df_mod)

# Update value
df_mod.at[0, 'C'] = 999
print("\nAfter updating C[0]:")
print(df_mod)

### âœ… TASK 5.1: Calculate Employee Bonuses

**Challenge:** Modify and create new columns

**Create DataFrame:**
```python
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 60000, 70000],
    'Years': [5, 8, 3]
})
```

**Tasks:**
1. Add 'Bonus' column = Salary * 0.1
2. Add 'Total_Comp' = Salary + Bonus
3. Update Alice's bonus to 8000 using .at[]
4. Add 'Level' column:
   - 'Senior' if Years > 5
   - 'Junior' if Years <= 5

In [ ]:
# Write your code here:

---

## SECTION 6: Handling Missing Data

### Quick Review

In [ ]:
df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8]
})

print("Data with missing values:")
print(df_missing)

print("\nMissing count:")
print(df_missing.isnull().sum())

print("\nFilled with 0:")
print(df_missing.fillna(0))

### âœ… TASK 6.1: Clean Weather Data

**Challenge:** Handle missing values in weather data

**Create Data:**
```python
weather = pd.DataFrame({
    'Date': pd.date_range('2024-01-01', periods=7),
    'Temperature': [20, np.nan, 22, 21, np.nan, 19, 23],
    'Humidity': [65, 70, np.nan, 72, 75, np.nan, 68]
})
```

**Tasks:**
1. Check missing values
2. Fill Temperature with mean value
3. Fill Humidity with 70
4. Drop rows with ANY missing
5. Use forward fill (ffill) for one column

In [ ]:
# Write your code here:

---

## SECTION 7: Grouping & Aggregation

### Quick Review

In [ ]:
sales_data = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'South'],
    'Product': ['A', 'A', 'B', 'B'],
    'Amount': [100, 150, 200, 120]
})

print("Sales by Region:")
print(sales_data.groupby('Region')['Amount'].sum())

print("\nSales by Product:")
print(sales_data.groupby('Product')['Amount'].mean())

### âœ… TASK 7.1: Analyze Regional Sales

**Challenge:** Group and aggregate sales data

**Create Data:**
```python
sales = pd.DataFrame({
    'Region': ['East', 'West', 'East', 'West', 'East', 'West'] * 2,
    'Product': ['A', 'A', 'B', 'B', 'A', 'B'] * 2,
    'Amount': [100, 120, 150, 110, 130, 140, 125, 135, 145, 115, 155, 145]
})
```

**Tasks:**
1. Total sales by Region
2. Average sales by Product
3. Count of transactions per Region
4. Group by Region AND Product, sum Amount
5. Max and Min sales per Region

In [ ]:
# Write your code here:

---

## SECTION 8: Combining DataFrames

### Quick Review

In [ ]:
# Concatenation (vertical stacking)
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

combined = pd.concat([df1, df2], ignore_index=True)
print("Concatenated:")
print(combined)

In [ ]:
# Merging (join on key)
customers = pd.DataFrame({'CustID': [1, 2], 'Name': ['Alice', 'Bob']})
orders = pd.DataFrame({'CustID': [1, 2], 'Amount': [100, 200]})

merged = pd.merge(customers, orders, on='CustID')
print("\nMerged:")
print(merged)

### âœ… TASK 8.1: Combine Sales Data

**Challenge:** Concatenate and merge DataFrames

**Create Q1 & Q2 Data:**
```python
q1 = pd.DataFrame({'Product': ['A', 'B', 'C'], 'Sales': [100, 150, 200]})
q2 = pd.DataFrame({'Product': ['A', 'B', 'C'], 'Sales': [120, 160, 210]})
```

**Tasks:**
1. Concatenate Q1 and Q2 with ignore_index
2. Create Product Details: `{'Product': ['A', 'B', 'C'], 'Category': ['Electronics', 'Furniture', 'Books']}`
3. Merge sales with product details
4. Try different merge types (inner, left, outer)

In [ ]:
# Write your code here:

---

## SECTION 9: Pivot Tables

### Quick Review

In [ ]:
pivot_data = pd.DataFrame({
    'Month': ['Jan', 'Jan', 'Feb', 'Feb'],
    'Region': ['North', 'South', 'North', 'South'],
    'Sales': [100, 120, 110, 130]
})

pivot = pd.pivot_table(pivot_data, values='Sales',
                       index='Month', columns='Region')
print("Pivot Table:")
print(pivot)

### âœ… TASK 9.1: Create Sales Pivot Table

**Challenge:** Create meaningful pivot tables

**Create Data:**
```python
data = pd.DataFrame({
    'Month': ['Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb'] * 2,
    'Product': ['A', 'B', 'C'] * 4,
    'Region': ['North'] * 6 + ['South'] * 6,
    'Sales': [100, 150, 200, 110, 160, 210, 120, 140, 190, 130, 150, 220]
})
```

**Tasks:**
1. Pivot: Products as rows, Months as columns
2. Pivot: Months as rows, Regions as columns
3. Pivot with Region AND Product as row index
4. Use different aggfunc: 'mean', 'count', 'max'

In [ ]:
# Write your code here:

---

## SECTION 10: Time Series

### Quick Review

In [ ]:
# Create time series
dates = pd.date_range('2024-01-01', periods=30, freq='D')
prices = pd.Series(np.random.randint(100, 150, 30), index=dates)

print("First 5 days:")
print(prices.head())

# Resample
weekly_avg = prices.resample('W').mean()
print("\nWeekly average:")
print(weekly_avg)

### âœ… TASK 10.1: Analyze Stock Prices

**Challenge:** Work with time series data

**Create Stock Data:**
```python
dates = pd.date_range('2024-01-01', periods=60, freq='D')
prices = pd.Series(100 + np.cumsum(np.random.randn(60)), index=dates)
```

**Tasks:**
1. Get first week of data
2. Get data for January only
3. Resample to weekly averages
4. Resample to biweekly max
5. Calculate 7-day rolling average
6. Find highest and lowest prices
7. Find dates with those prices

In [ ]:
# Write your code here:

---

## SECTION 11: String Operations

### Quick Review

In [ ]:
emails = pd.Series(
    ['alice@example.com', 'bob@test.org', 'charlie@example.com'])

print("Uppercase:")
print(emails.str.upper())

print("\nExtract domain:")
print(emails.str.split('@').str[1])

print("\nContains 'example':")
print(emails.str.contains('example'))

### âœ… TASK 11.1: Process Names

**Challenge:** Manipulate string data

**Create Data:**
```python
names = pd.Series(['john_smith', 'jane_doe', 'bob_johnson', 'alice_brown'])
```

**Tasks:**
1. Convert to uppercase
2. Replace underscores with spaces
3. Get length of each name
4. Extract first name (before underscore)
5. Extract last name (after underscore)
6. Create "FirstName LastName" format (proper case)

In [ ]:
# Write your code here:

---

## ðŸŽ¯ FINAL COMPREHENSIVE CHALLENGE

### Complete Real-World Analysis

**Scenario:** You work for an e-commerce company. Analyze sales data to answer key business questions.

**Part 1: Create the Dataset (50 random records)**
- Date: Last 90 days
- Product: ['Laptop', 'Phone', 'Tablet', 'Headphones']
- Region: ['North', 'South', 'East', 'West']
- Quantity: 1-20
- Unit_Price: Random (500-2000 for Laptop, 200-800 for Phone, etc.)

**Part 2: Data Cleaning & Transformation**
- Handle any missing values
- Add 'Total_Sales' = Quantity Ã— Unit_Price
- Extract 'Month' from Date

**Part 3: Analysis Questions**
1. Which product generates most revenue?
2. Which region has highest sales volume?
3. Average order value by product
4. Sales trend by month
5. Top 3 month-product combinations

**Part 4: Create Report**
- Pivot table: Product vs Region
- Monthly sales summary
- Export to CSV

In [ ]:
# PART 1: Create Dataset

In [ ]:
# PART 2: Data Cleaning & Transformation

In [ ]:
# PART 3: Analysis

In [ ]:
# PART 4: Report & Export

---

## ðŸŽ“ Congratulations! ðŸŽ‰

You've completed the Pandas Interactive Learning Journey!

### What You've Learned:
âœ… Create Series & DataFrames  
âœ… Explore and view data  
âœ… Sort and filter data  
âœ… Select data (loc, iloc, boolean)  
âœ… Modify and transform data  
âœ… Handle missing values  
âœ… Group and aggregate data  
âœ… Combine multiple DataFrames  
âœ… Create pivot tables  
âœ… Work with time series  
âœ… Process text/strings  
âœ… Complete real-world analysis  

### Next Steps:
ðŸš€ Try different datasets  
ðŸ“Š Learn visualization (Matplotlib, Seaborn)  
ðŸ¤– Explore machine learning  
ðŸ’¾ Practice with public datasets  

**Happy Data Wrangling!** ðŸ¼ðŸ“Š